<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Title and desc-->

        <title>Sortir à Saint-Denis</title>
        <meta name="description" content="Potail des activités culturelles de Saint-Denis">

        <!--Favicon-->

        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"><!-- 180×180 -->
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"><!-- 32×32 -->

        <!--Css-->

        {{#each stylesheets }}
            <link rel="stylesheet" href="{{this.href}}">

        {{/each}}

        {{#each scripts.top }}
            <script type="text/javascript" nomodule="" src="{{this.src}}"></script>
        {{/each}}


    </head>
    <body>
        {{#each events }}

            uid: {{this.uid}}<br>
            slug: {{this.slug}}<br>
            canonicalUrl: {{this.canonicalUrl}}<br>
            title: {{this.title}}<br>
            description: {{this.description}}<br>
            keywords: {{this.keywords}}<br>
            html: {{{this.html}}}<br>
            longDescriptionLinks:<br>
            <ul>
            {{#each this.longDescriptionLinks }}
                <li>
                    {{this.link}}
                </li>
            {{/each}}
            </ul>

            image:<img src="{{this.image}}"/><br>
            thumbnail:<img src="{{this.thumbnail}}"/><br>
            originalImage:<img src="{{this.originalImage}}"/><br>
            age: {{this.age}}<br>
            accessibility: {{this.accessibility}}<br>
            updatedAt: {{this.updatedAt}}<br>
            createdAt: {{this.createdAt}}<br>
            range: {{this.range}}<br>
            location:
            <ul>
                <li>uid: {{this.location.uid}}</li>
                <li>name: {{this.location.name}}</li>
                <li>slug: {{this.location.slug}}</li>
                <li>address: {{this.location.address}}</li>
                <li>image: {{this.location.image}}</li>
                <li>imageCredits: {{this.location.imageCredits}}</li>
                <li>postalCode: {{this.location.postalCode}}</li>
                <li>city: {{this.location.city}}</li>
                <li>district: {{this.location.district}}</li>
                <li>department: {{this.location.department}}</li>
                <li>region: {{this.location.region}}</li>
                <li>latitude: {{this.location.latitude}}</li>
                <li>longitude: {{this.location.longitude}}</li>
                <li>description: {{this.location.description}}</li>
                <li>access: {{this.location.access}}</li>
                <li>countryCode: {{this.location.countryCode}}</li>
                <li>website: {{this.location.website}}</li>
                <li>email: {{this.location.email}}</li>
                <li>links: {{this.location.links}}</li>
                <li>insee: {{this.location.insee}}</li>
                <li>phone: {{this.location.phone}}</li>
                <li>tags: {{this.location.tags}}</li>
                <li>timezone: {{this.location.timezone}}</li>
                <li>updatedAt: {{this.location.updatedAt}}</li>
                <li>extId: {{this.location.extId}}</li>
                <li>country:
                    <ul>
                        <li>fr: {{this.location.country.fr}}</li>
                        <li>code: {{this.location.country.code}}</li>
                    </ul>
                </li>
            </ul>
            attendanceMode: {{this.attendanceMode}}<br>
            onlineAccessLink: {{this.onlineAccessLink}}<br>
            status: {{this.status}}<br>
            imageCredits: {{this.imageCredits}}<br>
            origin:
            <ul>
                <li>uid: {{this.origin.uid}}</li>
                <li>title: {{this.origin.title}}</li>
                <li>url: {{this.origin.url}}</li>
                <li>slug: {{this.origin.slug}}</li>
                <li>oaUrl: {{this.origin.oaUrl}}</li>
            </ul>
            conditions: {{this.conditions}}<br>
            registrationUrl: {{this.registrationUrl}}<br>
            locationName: {{this.locationName}}<br>
            locationUid: {{this.locationUid}}<br>
            address: {{this.address}}<br>
            postalCode: {{this.postalCode}}<br>
            city: {{this.city}}<br>
            district: {{this.district}}<br>
            department: {{this.department}}<br>
            region: {{this.region}}<br>
            latitude: {{this.latitude}}<br>
            longitude: {{this.longitude}}<br>
            timings:
            <ul>
                {{#each this.timings}}
                    <li> start: {{this.start}}, end: {{this.end}}, label: {{this.label}}</li>
                {{/each}}
            </ul>
            registration: {{this.registration}}<br>
            firstDate: {{this.firstDate}}<br>
            firstTimeStart: {{this.firstTimeStart}}<br>
            firstTimeEnd: {{this.firstTimeEnd}}<br>
            lastDate: {{this.lastDate}}<br>
            lastTimeStart: {{this.lastTimeStart}}<br>
            lastTimeEnd: {{this.lastTimeEnd}}<br>
            permalink: {{this.permalink}}<br>
            featured: {{this.featured}}<br>
            hasPrivateCustomFields: {{this.hasPrivateCustomFields}}<br>
            custom: {{this.custom}}<br>
            contributor: {{this.contributor}}<br>
            category: {{this.category}}<br>
            tags: {{this.tags}}<br>
            tagGroups: {{this.tagGroups}}<br>
            linkedEvents: {{this.linkedEvents}}<br>
            timezone: {{this.timezone}}<br>
            lastTiming:
            <ul>
                <li>start: {{this.lastTiming.start}}</li>
                <li>end: {{this.lastTiming.end}}</li>
                <li>label: {{this.lastTiming.label}}</li>
            </ul>
            nextTiming:
            <ul>
                <li>start: {{this.nextTiming.start}}</li>
                <li>end: {{this.nextTiming.end}}</li>
                <li>label: {{this.nextTiming.label}}</li>
            </ul>
            link: {{this.link}}<br>
            share:
            <ul>
                <li>facebook: {{this.share.facebook}}</li>
                <li>twitter: {{this.share.twitter}}</li>
                <li>email: {{this.share.email}}</li>
                <li>permalink: {{this.share.permalink}}</li>
            </ul>
            JSONLD: {{this.JSONLD}}<br>

            <br><br><br><br><br><br>

        {{/each}}
    </body>
</html>




this is my index

{{#each scripts.top }}
    {{this.src}}
{{/each}}

